In [1]:
import pandas as pd
import sqlite3

In [2]:
df = pd.read_csv('keywords.csv')
df.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [3]:
# import pymysql
# con = pymysql.connect(host='192.04.98.10', user='user', password='')

con = sqlite3.connect('keywords.db')

In [5]:
df.to_sql('keywords', con)

In [12]:
con.close()

In [14]:
with sqlite3.connect('keywords.db') as con:
    data = pd.read_sql('select * from keywords limit 5;', con)
    
data

   index        keyword     shows
0      0             вк  64292779
1      1  одноклассники  63810309
2      2          порно  41747114
3      3           ютуб  39995567
4      4      вконтакте  21014195

In [26]:
con = sqlite3.connect('keywords.db')

In [25]:
pd.read_sql('select * from keywords where keyword like "%вконтакте" limit 5;', con)

   index                    keyword     shows
0      4                  вконтакте  21014195
1    530     моя страница вконтакте   5971451
2   1546  накрутка лайков вконтакте    128862
3   2972           vk com вконтакте     74990
4   3045      поиск людей вконтакте     96632

In [18]:
con.close()

In [27]:
cur = con.cursor()

In [36]:
cur.execute('select * from keywords where keyword like "%вконтакте";')

In [37]:
data = cur.fetchall()
data

[(4, 'вконтакте', 21014195),
 (530, 'моя страница вконтакте', 5971451),
 (1546, 'накрутка лайков вконтакте', 128862),
 (2972, 'vk com вконтакте', 74990),
 (3045, 'поиск людей вконтакте', 96632),
 (6296, 'самооборона горловки вконтакте', 39695),
 (6361, 'аст 54 вконтакте', 40183),
 (7600, 'накрутка подписчиков вконтакте', 35581),
 (9972, 'в вконтакте', 27754),
 (10632, 'программа для скачивания музыки вконтакте', 26100),
 (11861, 'дтп и чп санкт петербург вконтакте', 23948),
 (12430, 'порно вконтакте', 26355),
 (18354, 'скачать вконтакте', 22517),
 (22219, 'как удалить страницу в вконтакте', 14104),
 (23747, 'антимайдан вконтакте', 13519),
 (24291, 'ввк вконтакте', 13034),
 (26025, 'как узнать кто заходил на мою страницу вконтакте', 12497),
 (27418, 'апидог вконтакте', 11755),
 (29417, 'вквквк вконтакте', 11037),
 (32668, 'скачать музыку вконтакте', 11411),
 (36252, 'дом 2 вконтакте', 9483),
 (38881, 'скачать программу для скачивания музыки вконтакте', 8658),
 (46787, 'вход вконтакте', 190587),
 (47137, 'барнаул 22 вконтакте', 7242),
 (47456, 'дебальцево днр официальная группа вконтакте', 7141),
 (50340, 'скачать музыку из вконтакте', 7219),
 (52791, 'поиск вконтакте', 25311),
 (54610, 'домашнее порно вконтакте', 7232),
 (57479, 'http вконтакте', 6068),
 (66903, 'секс вконтакте', 6419),
 (67003, 'типичная рязань вконтакте', 5237),
 (67627, 'типичный чистополь вконтакте', 5273),
 (72994, 'мая страницы вконтакте', 4891),
 (77422, 'аноним 03 вконтакте', 4616),
 (81299, 'как взломать страницу вконтакте', 4561),
 (82919, 'сокольские сплетни вконтакте', 4314),
 (85692, 'типичный брянск вконтакте', 4157),
 (85840, 'скачать приложение вконтакте', 4701),
 (88035, 'североморск онлайн вконтакте', 4020),
 (90750, 'боевой участок вконтакте', 4067),
 (91287, 'новости тувы вконтакте', 4019),
 (92569, 'чп красноярск вконтакте', 3981),
 (96819, 'оренбург онлайн вконтакте', 3894),
 (97029, 'раскрутка групп в вконтакте', 3782),
 (98809, 'весь арзамас вконтакте', 3623),
 (99703, 'вк вконтакте', 4766)]

In [29]:
cur.fetchone()

(4, 'вконтакте', 21014195)

In [30]:
line = cur.fetchone()
line

(530, 'моя страница вконтакте', 5971451)

In [35]:
# for line in f:
for i, line in enumerate(cur.execute('select * from keywords where keyword like "%вконтакте";')):
    keyword = line[1]
    print(keyword)
    
    if i > 5:
        break

вконтакте
моя страница вконтакте
накрутка лайков вконтакте
vk com вконтакте
поиск людей вконтакте
самооборона горловки вконтакте
аст 54 вконтакте

In [38]:
from multiprocessing import Pool, current_process

In [39]:
import time

In [41]:
time.sleep(1)

In [42]:
def process_step(step):
    print('Начинаю шаг {}'.format(step))
    time.sleep(1)
    print('Закончил шаг {}'.format(step))

In [43]:
for step in range(10):
    process_step(step)

Начинаю шаг 0
Закончил шаг 0
Начинаю шаг 1
Закончил шаг 1
Начинаю шаг 2
Закончил шаг 2
Начинаю шаг 3
Закончил шаг 3
Начинаю шаг 4
Закончил шаг 4
Начинаю шаг 5
Закончил шаг 5
Начинаю шаг 6
Закончил шаг 6
Начинаю шаг 7
Закончил шаг 7
Начинаю шаг 8
Закончил шаг 8
Начинаю шаг 9
Закончил шаг 9

In [44]:
%%time

with Pool(processes=10) as p:
    p.map(process_step, range(10))

Начинаю шаг 1
Начинаю шаг 0
Начинаю шаг 3
Начинаю шаг 2
Начинаю шаг 6
Начинаю шаг 4
Начинаю шаг 5
Начинаю шаг 8
Начинаю шаг 9
Начинаю шаг 7
Закончил шаг 1
Закончил шаг 3
Закончил шаг 0
Закончил шаг 2
Закончил шаг 6
Закончил шаг 5
Закончил шаг 8
Закончил шаг 9
Закончил шаг 4
Закончил шаг 7
CPU times: user 28 ms, sys: 43.5 ms, total: 71.5 ms
Wall time: 1.23 s

In [45]:
import time
from nltk.stem.snowball import SnowballStemmer

In [46]:
def process_line(line):
    keyword, shows = line.strip().split(',')
    return [stemmer.stem(word) for word in keyword.split(' ')]

In [47]:
%%time
stemmer = SnowballStemmer("russian")
result = []

with open('keywords.csv') as f:
    result = [process_line(line) for line in f]
        
result[:10]

CPU times: user 16.9 s, sys: 246 ms, total: 17.1 s
Wall time: 20.2 s

[['keyword'],
 ['вк'],
 ['одноклассник'],
 ['порн'],
 ['ютуб'],
 ['вконтакт'],
 ['одноклассник', 'мо', 'страниц'],
 ['майл'],
 ['авит'],
 ['переводчик']]

In [48]:
%%time
f = open('keywords.csv')
stemmer = SnowballStemmer("russian")

with Pool(5) as p:
    result = p.map(process_line, f)
    
result[:10]

CPU times: user 348 ms, sys: 149 ms, total: 497 ms
Wall time: 13.2 s

[['keyword'],
 ['вк'],
 ['одноклассник'],
 ['порн'],
 ['ютуб'],
 ['вконтакт'],
 ['одноклассник', 'мо', 'страниц'],
 ['майл'],
 ['авит'],
 ['переводчик']]

# Сложные объединения
Необходимо объединить таблицы left_table и right_table с учетом условий:
- если числовое значение из right_table укладывается в интервал из left_table, то добавляем столбец из right_table
- если значение из right_table вне интервала из left_table, но меньше 200, то подставить 0
- если значение из right_table больше 200 или нет соответствия, то исключить строчку из результата полностью
- таблица right_table влазит в RAM, левая - нет

In [49]:
left_table = [
    ['a', 10, 20],
    ['b', 30, 40],
    ['c', 50, 60],
]

In [50]:
right_table = [
    ['a', 15],
    ['b', 100],
    ['c', 300],
]

In [51]:
right_dict = {rec[0]: rec[1] for rec in right_table}
right_dict

{'a': 15, 'b': 100, 'c': 300}

In [52]:
def apply_rules(left_table_line):
    key, left_border, right_border = left_table_line
    
    # условие 3 (если есть соответствие)
    if key in right_dict:
        value_from_right_table = right_dict[key]
        
        # условие 3 (если значение < 200)
        if value_from_right_table < 200:
            if left_border < value_from_right_table < right_border:
                return value_from_right_table
            else:
                return 0

In [53]:
for line in left_table:
    right_value = apply_rules(line)
    if right_value is not None:
        line.append(right_value)
        print(line)

['a', 10, 20, 15]
['b', 30, 40, 0]

In [54]:
a = pd.DataFrame({'name': ['a', 'b', 'c'], 'col': [1, 2, 3]})
a

  name  col
0    a    1
1    b    2
2    c    3

In [55]:
b = pd.DataFrame({'date': ['2021-01-01', '2021-01-02', '2021-01-03'], 'col_2': [3, 4, 5]})
b

         date  col_2
0  2021-01-01      3
1  2021-01-02      4
2  2021-01-03      5

In [56]:
a['intersec'] = True
b['intersec'] = True

In [57]:
a

  name  col  intersec
0    a    1      True
1    b    2      True
2    c    3      True

In [58]:
b

         date  col_2  intersec
0  2021-01-01      3      True
1  2021-01-02      4      True
2  2021-01-03      5      True

In [59]:
a.merge(b, on='intersec', how='left')

  name  col  intersec        date  col_2
0    a    1      True  2021-01-01      3
1    a    1      True  2021-01-02      4
2    a    1      True  2021-01-03      5
3    b    2      True  2021-01-01      3
4    b    2      True  2021-01-02      4
5    b    2      True  2021-01-03      5
6    c    3      True  2021-01-01      3
7    c    3      True  2021-01-02      4
8    c    3      True  2021-01-03      5

In [1]:
queries = [
    'сериалы этим летом',
    'курс по питону',
    'сериалы про спорт',
    'тест тест тест тест'
    ]

In [3]:
storage = {}

for query in queries:
    for word in query.split(' '):
        print(word)
        
        storage.setdefault(word, 0)
        storage[word] += 1
        
storage

сериалы
этим
летом
курс
по
питону
сериалы
про
спорт
тест
тест
тест
тест

{'сериалы': 2,
 'этим': 1,
 'летом': 1,
 'курс': 1,
 'по': 1,
 'питону': 1,
 'про': 1,
 'спорт': 1,
 'тест': 4}